
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1>Index</h1>

<a href="https://api.instagram.com/oauth/authorize/?client_id=c1c30f885e234aa1981038bf1440ccdf&redirect_uri=http://localhost:52899/Test/GetUser&response_type=code">ورود</a>
